[Unit]
Description=X-Finder Archery Shop PostgreSQL Database
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/library/postgres:18.0
ContainerName=xfinder-postgres
Network=nt-xfinder.network
PublishPort=5432:5432
Volume=postgres:/var/lib/postgresql
Environment=POSTGRES_PASSWORD=XFA@2025
Timezone=America/Sao_Paulo

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
